<page-header-wrapper [content]="phContent">
  <ng-template #phContent>
    <a href="https://github.com/swimlane/ngx-charts" target="_blank">ngx-charts</a>
  </ng-template>
  <nz-card nzTitle="Bar">
    <app-chart-ngx-charts-bar></app-chart-ngx-charts-bar>
  </nz-card>
  <nz-card nzTitle="Pie">
    <app-chart-ngx-charts-pie></app-chart-ngx-charts-pie>
  </nz-card>
  <nz-card nzTitle="Line">
    <app-chart-ngx-charts-line></app-chart-ngx-charts-line>
  </nz-card>
  <nz-card nzTitle="Area">
    <app-chart-ngx-charts-area></app-chart-ngx-charts-area>
  </nz-card>
  <nz-card nzTitle="Number Card">
    <app-chart-ngx-charts-number-card></app-chart-ngx-charts-number-card>
  </nz-card>
</page-header-wrapper>
