<page-header-wrapper [loading]="!list">
  <nz-card *ngIf="list">
    <nz-collapse [nzBordered]="false" nzAccordion class="brand-collapse-arrow-reverse">
      <nz-collapse-panel
        *ngFor="let v of list"
        [nzHeader]="panelTitle"
        [(nzActive)]="v.active"
        [ngClass]="{ 'border-primary': v.active }"
      >
        <ng-template #panelTitle>
          <div [ngClass]="{ 'text-primary': v.active }">{{ v.q }}</div>
        </ng-template>
        <div [innerHTML]="v.a | html"></div>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</page-header-wrapper>
