<global-footer>
  <!-- <global-footer-item href="https://e.ng-alain.com/theme/pro" blankTarget>
    {{ 'layout.pro.user.link.home' | translate }}
  </global-footer-item>
  <global-footer-item href="https://github.com/ng-alain" blankTarget>
    <i nz-icon nzType="github"></i>
  </global-footer-item>
  <global-footer-item href="https://ng-alain.github.io/ng-alain/" blankTarget>
    {{ 'layout.pro.user.link.alain' | translate }}
  </global-footer-item> -->
  Copyright
  <i nz-icon nzType="copyright" class="mx-sm"></i>
  {{ year }}
  <a class="mx-sm">福州芝麻智能科技有限公司</a>
  出品
</global-footer>