<page-header-wrapper [content]="phContent" [loading]="!inited">
  <ng-template #phContent>
    <a href="https://github.com/frappe/gantt" target="_blank">Frappe Gantt</a>
  </ng-template>
  <nz-card nzTitle="Demo" [nzExtra]="extraTpl">
    <ng-template #extraTpl>
      <nz-radio-group [(ngModel)]="type" (ngModelChange)="typeChange()">
        <label nz-radio-button nzValue="Quarter Day">季度</label>
        <label nz-radio-button nzValue="Half Day">12小时</label>
        <label nz-radio-button nzValue="Day">天</label>
        <label nz-radio-button nzValue="Week">周</label>
        <label nz-radio-button nzValue="Month">月</label>
      </nz-radio-group>
    </ng-template>
    <svg id="gantt"></svg>
  </nz-card>
</page-header-wrapper>
